.sidebar {
  width: 15%;
  height: 93vh; /* Ajustar la altura para ocupar el 93% */
  background: #424242;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 10;

  &.closed {
    transform: translateX(-100%);
    opacity: 0;
  }

  .logo {
    background: #636363;
    padding: 1em;
    margin-bottom: 2em;
    width: 80%;
    text-align: center;
    font-size: 1.2em;
    border-radius: 8px;
  }

  .menu-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 4px; /* Espacio entre el icono y el botón 'Home' */
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    a {
      display: block;
      padding: 1em;
      width: 80%;
      margin: 0.5em 0;
      text-align: center;
      color: #fff;
      text-decoration: none;
      background: #565656;
      border-radius: 8px;

      &.active {
        background: #007bff;
      }

      &:hover {
        background: #686868;
      }
    }
  }

  @media (max-width: 768px) {
    width: 150px;

    .logo {
      width: 70%;
      font-size: 1em;
    }

    nav a {
      width: 70%;
      padding: 0.5em;
      font-size: 0.9em;
    }
  }

  @media (max-width: 480px) {
    width: 100px;

    .logo {
      width: 60%;
      font-size: 0.8em;
    }

    nav a {
      width: 60%;
      padding: 0.4em;
      font-size: 0.8em;
    }
  }
}

.menu-icon-fixed {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: fixed;
  top: 10px; /* Ajustar según sea necesario */
  left: 10px; /* Ajustar según sea necesario */
  z-index: 11;
}
