.country-card {
  padding: 1em;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }

  .country-image {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 0.5em;
  }

  .country-info {
    display: flex;
    align-items: center;

    .flag {
      width: 30px;
      height: auto;
      margin-right: 0.5em;
      border-radius: 4px;
    }

    .country-text {
      display: flex;
      flex-direction: column;

      h3 {
        margin: 0;
        font-size: 1.2em;
        color: #333;
      }

      p {
        margin: 0;
        font-size: 1em;
        color: #888;
      }
    }
  }

  @media (max-width: 768px) {
    .country-image {
      height: 100px;
    }

    .flag {
      width: 20px;
    }

    .country-text {
      h3 {
        font-size: 1em;
      }

      p {
        font-size: 0.9em;
      }
    }
  }

  @media (max-width: 480px) {
    .country-image {
      height: 80px;
    }

    .flag {
      width: 15px;
    }

    .country-text {
      h3 {
        font-size: 0.9em;
      }

      p {
        font-size: 0.8em;
      }
    }
  }
}
